mixin modal-location()
  +modal({id: 'modal-location'}).modal-location
    .container-xxl
      .modal-location__column
        .modal-location__header
          +logo('/').modal-location__logo
            img(src="img/content/logo.svg", alt="Логотип")
          section.modal-location__header-row
            h3.modal-location__title Выберите город
            button.modal-location__close(data-fancybox-close type="button")
              svg(width="14", height="14")
                use(href="img/symbols.svg#icon-close")
        .list-cities.modal-location__content
          ul.list-cities__inner
            each item, index in listСities
              li.list-cities__item
                h3.list-cities__item-title= item.letterCity
                ul.list-cities__sublist
                  each e, i in item.cites
                    li
                      a(href='#modal-office-1', data-fancybox="")= e
                      if(index === 0 && i === 0)
                        span (скоро открытие)
        .modal-location__footer
          +copyright("img/content/develop-dark.svg")
