.block-personal {
  .tab-filter {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.block-personal__warning {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #916F5F;
  margin-bottom: 32px;
}
