-
  const services = [
    {
      title: 'Болит спина?',
      shortTexts: ['- Массажное масло 100 мл', '- Фитосолевое обертывание 1 сеанс', '- 10 сеансов массажа спины 30 мин'],
      price: 9723,
      category: 'depilation'
    },
    {
      title: 'Общеоздоравливаю-щая',
      shortTexts: ['- Массажное масло 100 мл', '- Фитосолевое обертывание 1 сеанс'],
      price: 15393,
      category: 'depilation'
    },
    {
      title: 'Хотите похудеть?',
      shortTexts: ['- Массажное масло 100 мл'],
      price: 9723,
      category: 'epilation'
    },
    {
      title: 'Хотите помолодеть?',
      shortTexts: ['- Массажное масло 100 мл', '- Фитосолевое обертывание 1 сеанс', '- 10 сеансов массажа спины 30 мин'],
      price: 14300,
      category: 'lymphatic-procedures'
    },
    {
      title: 'SPA выходного дня',
      shortTexts: ['- Массажное масло 100 мл', '- Фитосолевое обертывание 1 сеанс', '- 10 сеансов массажа спины 30 мин'],
      price: 3780,
      category: 'lymphatic-procedures'
    },
  ];

-
  const social = [
    {
      name: 'Instagram',
      icon: 'img/content/icon-instagram.svg',
    },
    {
      name: 'ВКонтакте',
      icon: 'img/content/icon-vk.svg',
    },
    {
      name: 'YouTube',
      icon: 'img/content/icon-youtube.svg',
    },
    {
      name: 'Tik-Tok',
      icon: 'img/content/icon-tik-tok.svg',
    },
  ]

-
  const doc = ['Политика конфиденциальности', 'Порядок оказания услуг ', 'Правила оказания медицинских услуг', 'Информация о медицинской организации']

-
  const navMenu = [
    {
      title: 'О компании',
      href: '#about'
    },
    {
      title: 'Услуги и цены',
      href: '#service'
    },
    {
      title: 'Отзывы',
      href: '#review'
    },
    {
      title: 'Контакты',
      href: '#contact',
      current: true
    },
  ]

-
  const mobNavMenu = [
    {
      title: 'О компании',
      href: '#about'
    },
    {
      title: 'Услуги и цены',
      href: '#service'
    },
    {
      title: 'Отзывы',
      href: '#review'
    },
    {
      title: 'Контакты',
      href: '#contact',
    },
  ]

-
  const linkPageIndex = [
    {
      title: 'Салон масажа',
      href: "page-service.html",
    },
    {
      title: 'Интернет-магазин',
      href: "#",
    },
    {
      title: 'Франшиза',
      href: "#",
    },
    {
      title: 'Академия массажа',
      href: "#",
    }
  ]

-
  const listСities = [
    {
      letterCity: 'А',
      cites: [
        'Актобе',
        'Алматы (4)',
        'Астана (2)'
      ]
    },
    {
      letterCity: 'Б',
      cites: [
        'Балашиха (2)',
        'Барнаул (3)',
        'Белгород (2)',
        'Булгаково'
      ]
    },
    {
      letterCity: 'К',
      cites: [
        'Казань (4)',
        'Канск',
        'Киев',
        'Кингисепп',
        'Королев',
        'Костанай (2)',
        'Красногорск (2)',
        'Красноярск',
        'Кудрово'
      ]
    },
    {
      letterCity: 'М',
      cites: [
        'Магадан',
        'Магнитогорск (2)',
        'Михайловск',
        'Москва (10)',
        'Мурманск'
        ]
      },
    {
      letterCity: 'Н',
      cites: [
        'Набережные Челны',
        'Нефтекамск',
        'Нижневартовск',
        'Новокузнецк',
        'Новороссийск',
        'Новочеркасск\n'
      ]
    },
    {
      letterCity: 'О',
      cites: [
        'Одинцово',
        'Октябрьский',
        'Омск',
        'Оренбург (2)',
        'Орск'
      ]
    },
    {
      letterCity: 'П',
      cites: [
        'Пенза',
        'Пермь',
        'Петрозаводск',
        'Подольск',
        'Псков (2)'
      ]
    },
    {
      letterCity: 'А',
      cites: [
        'Актобе',
        'Алматы (4)',
        'Астана (2)'
      ]
    },
    {
      letterCity: 'Б',
      cites: [
        'Балашиха (2)',
        'Барнаул (3)',
        'Белгород (2)',
        'Булгаково'
      ]
    },
    {
      letterCity: 'К',
      cites: [
        'Казань (4)',
        'Канск',
        'Киев',
        'Кингисепп',
        'Королев',
        'Костанай (2)',
        'Красногорск (2)',
        'Красноярск',
        'Кудрово'
      ]
    },
    {
      letterCity: 'М',
      cites: [
      'Магадан',
      'Магнитогорск (2)',
      'Михайловск',
      'Москва (10)',
      'Мурманск'
      ]
    },
    {
      letterCity: 'Н',
      cites: [
        'Набережные Челны',
        'Нефтекамск',
        'Нижневартовск',
        'Новокузнецк',
        'Новороссийск',
        'Новочеркасск\n'
      ]
    },
    {
      letterCity: 'О',
      cites: [
        'Одинцово',
        'Октябрьский',
        'Омск',
        'Оренбург (2)',
        'Орск'
      ]
    },
    {
      letterCity: 'П',
      cites: [
        'Пенза',
        'Пермь',
        'Петрозаводск',
        'Подольск',
        'Псков (2)'
      ]
    },
  ]
