mixin office-card()
  .office-card&attributes(attributes)
    img.office-card__map(src="img/content/map.jpg", alt="Офис")
    .office-card__content
      p.office-card__address Балашиха, пр. Ленина, л.23к5
      a.btn.office-card__btn(href="#") Перейти
