mixin copyright(img)
  .copyright&attributes(attributes)
    p.link-doc.link-doc--n-line.copyright__link-dock МЕДИЦИНСКАЯ ЛИЦЕНЗИЯ ЛО-18-01-002558 от 22 октября 2018 г.
    a.develop(href="https://pplans.ru/", target="_blank")
      img(src=img, alt="Веб студия «People Plans» — Разработка и продвижение лучших сайтов. Создание логотипов и фирменного стиля. Настройка контекстной рекламы и SEO продвижение.")
