mixin block-form()
  .block-form
    +form().js-form
      .block-form__content
        h2.text-h1.block-form__title Записаться в салон
        //-p.form__text Прежде, чем мы приступим к оценке проекта, нам важно его обсудить с вами. Начать диалог можно в форме, ниже.  Или позвонив по номеру #[a(href="#") +7 917 567-67-67]
        .block-form__wrap
          .block-form__group
            .form__group
              +field-text({
                mods: '',
                val: '',
                attrs: {
                  name: 'company',
                  placeholder: 'Ваше имя',
                  'data-required': 1
                }
              }).js-field
            .form__group
              +field-text({
                mods: '',
                val: '',
                attrs: {
                  name: 'phone',
                  type: 'tel',
                  placeholder: 'Телефон *',
                  'data-required': 1
                }
              }).js-field
          .block-form__row
            button.btn.btn--secondary.btn--s-big.block-form__btn Записаться
          p.form__warning.block-form__mt Нажимая кнопку «Отправить» я даю свое #[a(href="#") согласие на обработку персональных данных]
