// 1. вынести цвета
// 2 размеры шрифтов в миксин
.card {
  position: relative;
  display: flex;
  flex-direction: column; //надо подумать на сколько правильно так?
  background: #E9E5E3;
  border-radius: 20px;
  height: 180px; // ХЗ как лучшеданную цифру не использую
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 1;

  &--content-end {
    justify-content: flex-end;
  }

  &--content-center {
    justify-content: center;
  }
}

.card--service {
  min-height: 413px;
  box-shadow: 0px 34px 33px -20px #E2CDC3; // переменная

  @media (min-width: $screen-xl) {
    min-height: 503px;
  }

  .card-content {
    background: rgba(170, 132, 117, 0.5);
    backdrop-filter: blur(15px);

    @supports not (backdrop-filter:blur(15px)) {
      background: rgba(170, 132, 117, 0.8);
    }
  }
}

.card--personal {
  min-height: 373px;
  background: #E9E5E3; // переменная
  box-shadow: 0px 34px 33px -20px rgba(209, 197, 192, 0.83);
  background-image: url("../img/decor/bg-personal.jpg");

  @media (min-width: $screen-xl) {
    min-height: 419px;
  }

  .card-content {
    background: rgba(189, 189, 189, 0.31);
    backdrop-filter: blur(15px);

    @supports not (backdrop-filter:blur(15px)) {
      background: rgba(189, 189, 189, 0.8);
    }
  }
}

.card--review {
  min-height: 378px;
  padding-bottom: 37px;
  align-items: center;
  box-shadow: 0px 34px 33px -20px #926D5E;

  @media (min-width: $screen-xl) {
    min-height: 445px;
  }
}

.card--gallery-normal {
  min-height: 213px;

  @media (min-width: $screen-xl) {
    min-height: 340px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.card--gallery-small {
  min-height: 125px;

  @media (min-width: $screen-xl) {
    min-height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.card__img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;

  @media (max-width: $screen-xl - 1) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

