extends pug/layout.pug

block meta
  title Страница благодарности
block header

block content
  .order-page
    +page-header({
        logo: "img/content/logo.svg",
        nav: true,
        contentRight: true
    }).order-page__header
    main.order-page__content
      section.order-page__block
        h1.text-h1.order-page__title #[span.title-display-big Спасибо,]#[br] что оставили заявку
        p.order-page__text.order-page__text--w-auto Мы свяжемся с вами в ближайшее время
        a.btn.btn--secondary.btn--s-big.order-page__btn(href='/') Назад
    footer.order-page__footer
      +copyright("img/content/develop-dark.svg")
block footer
