.modal-callback {
  padding: 20px;

  @media (min-width: $screen-xl) {
    border-radius: 20px;
    padding: 52px 16px;
  }
}

.modal-callback  {
  @media (min-width: $screen-xl) {
    .modal__dialog {
      width: 364px;
    }
  }
}
