.social-content {
  max-width: 300px;

  @media (max-width: $screen-xl - 1) {
    text-align: center;
    margin: 0 auto;
  }
}

.social-content__title {
  margin-bottom: 12px;

  @media (min-width: $screen-xl) {
    margin-bottom: 24px;
  }
}

.social-content__desc {
  margin-bottom: 24px;

  @media (min-width: $screen-xl) {
    margin-bottom: 35px;
  }
}

.social-content__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  @media (max-width: $screen-xl - 1) {
    justify-content: center;
  }
}
